# git stuff
.DS_Store

# for devs eyes only
config.*
php.ini
info.php
check.php
test.php
error_log
php_error.log
old_*
webColors.json
database.json
.vscode

# these should only be present in development
popper*
jquery*
bootstrap.*

# dependencies and package mngrs
node_modules
composer.phar
/vendor/

# db backups
CDLdump.sql

# other backups
*.bak
