{% extends 'page.html.twig' %}

{% block content %}
<h5 class='grey-bg pad'>Required Information</h5>
<div class='row item-margin-bottom'>
    <div class='col-md-3'><p>Safety Certifiable</p></div>
    <div class='col-md-3'><p class='mb-0 full-width pad-less thin-grey-border border-radius fake-input'>No</p></div>
    <div class='col-md-3'><p>System Affected</p></div>
    <div class='col-md-3'><p class='mb-0 full-width pad-less thin-grey-border border-radius fake-input'>Public Address</p></div>
</div>
<div class='row item-margin-bottom'>
    <div class='col-md-3'><p>General Location</p></div>
    <div class='col-md-3'><p class='mb-0 full-width pad-less thin-grey-border border-radius fake-input'>S40 Milpitas Station</p></div>
    <div class='col-md-3'><p>Specific Location</p></div>
    <div class='col-md-3'><p class='mb-0 full-width pad-less thin-grey-border border-radius fake-input'>TCR Cabinet 27</p></div>
</div>
<div class='row item-margin-bottom'>
    <div class='col-md-3'><p>Status</p></div>
    <div class='col-md-3'><p class='mb-0 full-width pad-less thin-grey-border border-radius fake-input'>Open</p></div>
    <div class='col-md-3'><p>Severity</p></div>
    <div class='col-md-3'><p class='mb-0 full-width pad-less thin-grey-border border-radius fake-input'>Minor</p></div>
</div>
<div class='row item-margin-bottom'>
    <div class='col-md-3'><p>Due Date</p></div>
    <div class='col-md-3'><p class='mb-0 full-width pad-less thin-grey-border border-radius fake-input'>2018-03-31</p></div>
    <div class='col-md-3'><p>Group to resolve</p></div>
    <div class='col-md-3'><p class='mb-0 full-width pad-less thin-grey-border border-radius fake-input'>Electrical</p></div>
</div>
<div class='row item-margin-bottom'>
    <div class='col-md-3'><p>Resolution required by</p></div>
    <div class='col-md-3'><p class='mb-0 full-width pad-less thin-grey-border border-radius fake-input'>Revenue Service</p></div>
    <div class='col-md-3'><p>Contract</p></div>
    <div class='col-md-3'><p class='mb-0 full-width pad-less thin-grey-border border-radius fake-input'>C700</p></div>
</div>
<div class='row item-margin-bottom'>
    <div class='col-md-3'><p>Identified By</p></div>
    <div class='col-md-3'><p class='mb-0 full-width pad-less thin-grey-border border-radius fake-input'>Mike Robertson</p></div>
    <div class='col-md-3'><p>Deficiency type</p></div>
    <div class='col-md-3'><p class='mb-0 full-width pad-less thin-grey-border border-radius fake-input'>punchlist</p></div>
</div>
<div class='row item-margin-bottom'>
    <div class='col-md-6 offset-md-3'>
        <p>Deficiency description</p>
        <p class='mb-0 full-width pad-less thin-grey-border border-radius fake-input'>Lock on cabinet is missing</p>
    </div>
</div>
<h5 class='grey-bg pad'>Optional Information</h5>
<div class='row item-margin-bottom'>
    <div class='col-md-2'><p>Spec or Code</p></div>
    <div class='col-md-2'><span class='d-block full-width pad-less thin-grey-border border-radius'>000</span></div>
    <div class='col-md-2'><p>Action Owner</p></div>
    <div class='col-md-2'><span class='d-block full-width pad-less thin-grey-border border-radius'>ckb</span></div>
    <div class='col-md-2'><p>Old Id</p></div>
    <div class='col-md-2'><span class='d-block full-width pad-less thin-grey-border border-radius'>301</span></div>
</div>
<div class='row item-margin-bottom'>
    <div class='col-md-6 offset-md-3'>
        <p>More information</p>
        <span class='d-block full-width pad-less thin-grey-border border-radius'>this should be a comment field</span>
    </div>
</div>
    <h5 class='grey-bg pad'>Closure Information</h5>
    <div class='row item-margin-bottom'>
    <div class='col-md-2'><p>Evidence Type</p></div>
    <div class='col-md-2'><span class='d-block full-width pad-less thin-grey-border border-radius'>Change Request</span></div>
    <div class='col-md-2'><p>Evidence Repository</p></div>
    <div class='col-md-2'><span class='d-block full-width pad-less thin-grey-border border-radius'>Aconex</span></div>
    <div class='col-md-2'><p>Repository No.</p></div>
    <div class='col-md-2'><span class='d-block full-width pad-less thin-grey-border border-radius'>99</span></div>
</div>
<div class='row item-margin-bottom'>
    <div class='col-md-6 offset-md-3'>
        <p>Closure comments</p>
        <span class='d-block full-width pad-less thin-grey-border border-radius grey-bg fake-input'></span>
    </div>
</div>
<h5 class='grey-bg pad'>
    <a data-toggle='collapse' href='#comments' role='button' aria-expanded='' aria-controls='comments' class='collapsed'>Comments<i class='typcn typcn-arrow-sorted-down'></i></a>
</h5>
<section id='comments' class='collapse'>
    <div class='thin-grey-border pad mb-3'>
        <h6 class='d-flex flex-row justify-content-between text-secondary'><span>Colin King-Bailey</span><span>2018-06-19 10:57:00</span></h6>
        <p>I need to test the new encoding with &#34;quotes&#34; &#38; &#39;special&#39; &#62;&#62;chars</p>
    </div>
    <div class='thin-grey-border pad mb-3'>
        <h6 class='d-flex flex-row justify-content-between text-secondary'><span>Colin King-Bailey</span><span>2018-06-19 10:56:01</span></h6>
        <p>Stripping tags is working, but encoding html special chars is doing some funny bizniss</p>
    </div>
    <div class='thin-grey-border pad mb-3'>
        <h6 class='d-flex flex-row justify-content-between text-secondary'><span>Colin King-Bailey</span><span>2018-06-19 10:41:22</span></h6>
        <p>Try nesting tags within text contentdocument.body.style.backgroundColor = &#38;#39;black&#38;#39;Here is more text content</p>
    </div>
    <div class='thin-grey-border pad mb-3'>
        <h6 class='d-flex flex-row justify-content-between text-secondary'><span>Colin King-Bailey</span><span>2018-06-19 10:24:09</span></h6>
        <p>&#13;&#10;window.alert(&#38;#34;gotcha!&#38;#34;);&#13;&#10;</p>
    </div>
    <div class='thin-grey-border pad mb-3'>
        <h6 class='d-flex flex-row justify-content-between text-secondary'><span>Colin King-Bailey</span><span>2018-06-18 14:20:39</span></h6>
        <p>this is a comment with "quotes" in it</p>
    </div>
    <div class='thin-grey-border pad mb-3'>
        <h6 class='d-flex flex-row justify-content-between text-secondary'><span>Colin King-Bailey</span><span>2018-06-18 13:54:19</span></h6>
        <p>test comment test test test.</p>
    </div>
</section>
<h5 class='grey-bg pad'>
    <a data-toggle='collapse' href='#modHistory' role='button' aria-expanded='' aria-controls='modHistory' class='collapsed'>Modification History<i class='typcn typcn-arrow-sorted-down'></i></a>
</h5>
<section id='modHistory' class='collapse'>
    <div class='row item-margin-bottom'>
        <div class='col-md-3'><p>Date Created</p></div>
        <div class='col-md-3'><p>14 Mar 2018</p></div>
        <div class='col-md-3'><p>Created by</p></div>
        <div class='col-md-3'><p>rburns</p></div>
    </div>
    <div class='row item-margin-bottom'>
        <div class='col-md-3'><p>Last Updated</p></div>
        <div class='col-md-3'><p>2018-11-07 12:01:42</p></div>
        <div class='col-md-3'><p>Updated by</p></div>
        <div class='col-md-3'><p>ckingbailey</p></div>
    </div>
</section>
<h5 class='grey-bg pad'>
    <a data-toggle='collapse' href='#defPics' role='button' aria-expanded='' aria-controls='defPics' class='collapsed'>Photos<i class='typcn typcn-arrow-sorted-down'></i></a>
</h5>
<section id='defPics' class='collapse item-margin-bottom'>
    <div class='row item-margin-bottom'>
        <div class='col-md-4'><img src='/img_uploads/ckingb_0000000001_1526425153.jpg' alt='photo related to deficiency number 1'></div>
        <div class='col-md-4'><img src='/img_uploads/ckingb_0000000001_1526492145.jpg' alt='photo related to deficiency number 1'></div>
        <div class='col-md-4'><img src='/img_uploads/ckingb_0000000001_1526492929.jpg' alt='photo related to deficiency number 1'></div>
    </div>
    <div class='row item-margin-bottom'>
        <div class='col-md-4'><img src='/img_uploads/ckingb_0000000001_1526493192.jpg' alt='photo related to deficiency number 1'></div>
        <div class='col-md-4'><img src='/img_uploads/ckingb_0000000001_1526504032.jpg' alt='photo related to deficiency number 1'></div>
        <div class='col-md-4'><img src='/img_uploads/ckingb_0000000001_1526583375.jpg' alt='photo related to deficiency number 1'></div>
    </div>
    <div class='row item-margin-bottom'>
        <div class='col-md-4 offset-md-4'><img src='/img_uploads/ckingb_0000000001_1526583892.jpg' alt='photo related to deficiency number 1'></div>
    </div>
</section>
<div class='row item-margin-botom'>
    <div class='col-12 center-content'>
        <a href='updateDef.php?defID=1' class='btn btn-primary btn-lg'>Update</a>
        <a href='cloneDef.php?defID=1' class='btn btn-primary btn-lg'>Clone</a>
    </div>
</div>
{% endblock %}