{% extends 'page.html.twig' %}

{% block pageHeader %}
<header class='container page-header'>
    <h1 class='page-title {# TODO: set heading color per status #}'>{{ pageHeading }}</h1>
    <h1>Maybe show def closure</h1>
</header>
{% endblock %}

{% block content %}
<pre>{{ dump(data) }}</pre>
<h5 class='grey-bg pad'>Required Information</h5>
<div class='row item-margin-bottom'>
    <div class='col-md-3'><p>Safety Certifiable</p></div>
    <div class='col-md-3'><p class='mb-0 full-width pad-less thin-grey-border border-radius fake-input'>safetyCert{{}}</p></div>
    <div class='col-md-3'><p>System Affected</p></div>
    <div class='col-md-3'><p class='mb-0 full-width pad-less thin-grey-border border-radius fake-input'>sysAffected{{}}</p></div>
</div>
<div class='row item-margin-bottom'>
    <div class='col-md-3'><p>General Location</p></div>
    <div class='col-md-3'><p class='mb-0 full-width pad-less thin-grey-border border-radius fake-input'>Loc{{}}</p></div>
    <div class='col-md-3'><p>Specific Location</p></div>
    <div class='col-md-3'><p class='mb-0 full-width pad-less thin-grey-border border-radius fake-input'>specLoc{{}}</p></div>
</div>
<div class='row item-margin-bottom'>
    <div class='col-md-3'><p>Status</p></div>
    <div class='col-md-3'><p class='mb-0 full-width pad-less thin-grey-border border-radius fake-input'>stat{{}}</p></div>
    <div class='col-md-3'><p>Severity</p></div>
    <div class='col-md-3'><p class='mb-0 full-width pad-less thin-grey-border border-radius fake-input'>sev{{}}</p></div>
</div>
<div class='row item-margin-bottom'>
    <div class='col-md-3'><p>Due Date</p></div>
    <div class='col-md-3'><p class='mb-0 full-width pad-less thin-grey-border border-radius fake-input'>dueDate{{}}</p></div>
    <div class='col-md-3'><p>Group to resolve</p></div>
    <div class='col-md-3'><p class='mb-0 full-width pad-less thin-grey-border border-radius fake-input'>group{{}}</p></div>
</div>
<div class='row item-margin-bottom'>
    <div class='col-md-3'><p>Resolution required by</p></div>
    <div class='col-md-3'><p class='mb-0 full-width pad-less thin-grey-border border-radius fake-input'>reqBy{{}}</p></div>
    <div class='col-md-3'><p>Contract</p></div>
    <div class='col-md-3'><p class='mb-0 full-width pad-less thin-grey-border border-radius fake-input'>contract{{}}</p></div>
</div>
<div class='row item-margin-bottom'>
    <div class='col-md-3'><p>Identified By</p></div>
    <div class='col-md-3'><p class='mb-0 full-width pad-less thin-grey-border border-radius fake-input'>idBy{{}}</p></div>
    <div class='col-md-3'><p>Deficiency type</p></div>
    <div class='col-md-3'><p class='mb-0 full-width pad-less thin-grey-border border-radius fake-input'>defType{{}}</p></div>
</div>
<div class='row item-margin-bottom'>
    <div class='col-md-6 offset-md-3'>
        <p>Deficiency description</p>
        <p class='mb-0 full-width pad-less thin-grey-border border-radius fake-input'>descrip{{}}</p>
    </div>
</div>
<h5 class='grey-bg pad'>Optional Information</h5>
<div class='row item-margin-bottom'>
    <div class='col-md-2'><p>Spec or Code</p></div>
    <div class='col-md-2'><span class='d-block full-width pad-less thin-grey-border border-radius'>spec{{}}</span></div>
    <div class='col-md-2'><p>Action Owner</p></div>
    <div class='col-md-2'><span class='d-block full-width pad-less thin-grey-border border-radius'>owner{{}}</span></div>
    <div class='col-md-2'><p>Old Id</p></div>
    <div class='col-md-2'><span class='d-block full-width pad-less thin-grey-border border-radius'>oldID{{}}</span></div>
</div>
<div class='row item-margin-bottom'>
    <div class='col-md-6 offset-md-3'>
        <p>More information</p>
        <span class='d-block full-width pad-less thin-grey-border border-radius'>{{}}</span>
    </div>
</div>
<h5 class='grey-bg pad'>Closure Information</h5>
<div class='row item-margin-bottom'>
    <div class='col-md-2'><p>Evidence Type</p></div>
    <div class='col-md-2'><span class='d-block full-width pad-less thin-grey-border border-radius'>eviType{{}}</span></div>
    <div class='col-md-2'><p>Evidence Repository</p></div>
    <div class='col-md-2'><span class='d-block full-width pad-less thin-grey-border border-radius'>repo{{}}</span></div>
    <div class='col-md-2'><p>Repository No.</p></div>
    <div class='col-md-2'><span class='d-block full-width pad-less thin-grey-border border-radius'>eviLink{{}}</span></div>
</div>
<div class='row item-margin-bottom'>
    <div class='col-md-6 offset-md-3'>
        <p>Closure comments</p>
        <span class='d-block full-width pad-less thin-grey-border border-radius grey-bg fake-input'></span>
    </div>
</div>
{# TODO: conditionally show comments area #}
<h5 class='grey-bg pad'>
    <a data-toggle='collapse' href='#comments' role='button' aria-expanded='' aria-controls='comments' class='collapsed'>Comments<i class='typcn typcn-arrow-sorted-down'></i></a>
</h5>
<section id='comments' class='collapse'>
    {# TODO: iterate over comments #}
    <div class='thin-grey-border pad mb-3'>
        <h6 class='d-flex flex-row justify-content-between text-secondary'><span>{{}}</span><span>{{}}</span></h6>
        <p>{{}}</p>
    </div>
</section>
<h5 class='grey-bg pad'>
    <a data-toggle='collapse' href='#modHistory' role='button' aria-expanded='' aria-controls='modHistory' class='collapsed'>Modification History<i class='typcn typcn-arrow-sorted-down'></i></a>
</h5>
<section id='modHistory' class='collapse'>
    <div class='row item-margin-bottom'>
        <div class='col-md-3'><p>Date Created</p></div><div class='col-md-3'><p>dateCreated{{}}</p></div>
        <div class='col-md-3'><p>Created by</p></div><div class='col-md-3'><p>created_by{{}}</p></div>
    </div>
    <div class='row item-margin-bottom'>
        <div class='col-md-3'><p>Last Updated</p></div><div class='col-md-3'><p>lastUpdated{{}}</p></div>
        <div class='col-md-3'><p>Updated by</p></div><div class='col-md-3'><p>updated_by{{}}</p></div>
    </div>
</section>
{# TODO: conditionally show photos area #}
<h5 class='grey-bg pad'>
    <a data-toggle='collapse' href='#defPics' role='button' aria-expanded='' aria-controls='defPics' class='collapsed'>Photos<i class='typcn typcn-arrow-sorted-down'></i></a>
</h5>
<section id='defPics' class='collapse item-margin-bottom'>
    {# TODO: iterate over photos #}
    <div class='row item-margin-bottom'>
        <div class='col-md-4'><img src='/img_uploads/ckingb_0000000001_1526425153.jpg' alt='photo related to deficiency number 1'></div>
        <div class='col-md-4'><img src='/img_uploads/ckingb_0000000001_1526492145.jpg' alt='photo related to deficiency number 1'></div>
        <div class='col-md-4'><img src='/img_uploads/ckingb_0000000001_1526492929.jpg' alt='photo related to deficiency number 1'></div>
    </div>
</section>
<div class='row item-margin-botom'>
    <div class='col-12 center-content'>
        <a href='updateDef.php?defID=1' class='btn btn-primary btn-lg'>Update</a>
        <a href='cloneDef.php?defID=1' class='btn btn-primary btn-lg'>Clone</a>
    </div>
</div>
{% endblock %}