{% extends "page.html.twig" %}

{% block content %}
    {% if bartDefs %}
    <div class="row item-margin-bottom">
        <div class="col-12 d-flex">
            <a href="defs.php" class="btn btn-light border-dark-blue box-shadow-blue flex-grow item-margin-right text-wrap">Project deficiencies</a>
            <a href="defs.php?view=BART" class="btn btn-secondary text-white flex-grow item-margin-right text-wrap">BART deficiencies</a>
        </div>
    </div>
    {% endif %}
    {% include "infobox.html.twig" %}
    {% include "defsFilter.html.twig" %}
    {% include "table.html.twig" %}
{% endblock %}