{% block infobox %}
    <div class='card item-margin-bottom'>
        <div class='card-body grey-bg'>
            <div class='row item-margin-bottom'>
                <div class='col-12 d-flex flex-row flex-wrap justify-content-between align-items-center'>
                    {% if not errorMsg is empty %}
                    <p>{{errorMsg}}</p>
                    {% endif %}
                    <span>{{ info }}</span>
                    {% if role > 10 %}
                    <a href='/{{ addPath }}' class='btn btn-outline'>Add new {{ dataDisplayName }}</a>
                    {% endif %}
                </div>
            </div>
                {% if view is same as("BART") %}
                <div class='row mb-3'><div id='dataContainer' class='col-md-4 offset-md-4 d-flex flex-row flex-wrap justify-content-start'></div></div>
                {% endif %}
        </div>
    </div>
{% endblock %}
