{% import "template_fcns/tables.xml.twig" as tables %}

{{ tables.createTable(data, tableHeadings, tableProps) }}

{% set btnClasslist = not data is empty
    ? "btn btn-lg btn-success"
    : "btn btn-lg disabled"
%}
{% set disable = data is empty ? "disabled" : "" %}
<div class="text-right">
    <button id="getCsvBtn" type="button" class="{{ btnClasslist }}" {{ disable }}>Download this data</button>
</div>