{# 'data' => [
##      [
##          'system' => (string),
##          'openLastWeek' => (int),
##          'openThisWeek' => (int),
##      ]
##  ]
#}

<div id="weeklyReport" class="item-margin-bottom">
    <header>Weekly report of delta in closed Deficiencies that are required for closure prior to Phase 3 start</header>
    <div class="row">
        <div class="col-sm-3">System</div>
        <div class="col-sm-3">Open this week</div>
        <div class="col-sm-3">Open Last week</div>
        <div class="col-sm-3">Delta this week</div>
    </div>
    {% for row in data %}
    <div class="col-sm-2">
        <div>{{ row.system }}</div>
    </div>
    <div class="col-sm-2">
        <div><input type="text" class="form-control"></div>
    </div>
    <div class="col-sm-2">
        <div>{{ row.openThisWeek }}</div>
    </div>
    <div class="col-sm-2">
        <div>{{ row.openLastWeek }}</div>
    </div>
    <div class="col-sm-2">
        <div>{{ row.openThisWeek - row.openLastWeek }}</div>
    </div>
    {% endfor %}
</div>